body {
  position: absolute; 
    height: 100%;
    width: 100%;

                          /*On change le style d'écriture*/
    text-align: center;
    color: white;
    margin: auto;
    background-color: rgb(41, 41, 41);
    font-size: 25px;
    
    font-family: 'Courie New',sans-serif; /*on change la police d'écriture*/
  }


/* -------------- Partie gérant le haut de la page --------------*/

header{
  display: flex;  /*flexbox utilisée pour centrer les éléments*/
  align-items: center;
  

  background-image: url("image_bandeau_2.png"); /*Création d'une image de fond*/
  background-size: cover;

  background-attachment: local, scroll; /*Création d'une bare de scroll invisible*/
  overflow-x: scroll;
  scrollbar-width: none;

  position: fixed;  /*Positionnement du bandeau en haut de l'écran, en avant sur tout autre élément de la page*/
  top: 0px;
  width: 100%;
  height: 25%;
  z-index: 3;

  text-align: center; /*Question de style*/
  border: solid;
  border-width: 1%;
  border-color: black;
  
  margin: 0%;
  }


li.objet_bandeau_déroulant{
    list-style:none;      /*On veut pas de liste retournant à la ligne avec des puces*/
    display: inline;

    font-size: 45px;

    padding-right: 5%;
    padding-left: 5%;
}

ul.bandeau{
  width: 100%;
  height: 100%;

  display: flex;  /*Positionnement avancé*/
  flex-direction: line;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none; /*Le style des liens habituels jurent avec le style du site. On enlève donc leur propriété de base*/
  color:inherit;
}

a.lien_nav {
  transition: color 0.5s, font-size 0.5s; /*Propriété de transition afin de changer le style progressivement lorsque la souris passe au dessus des liens*/
}

a.lien_nav:hover {
  color:rgba(137, 192, 123, 0.671); /*Ces propriétées vont changer le style du site lorsque la souris passe au dessus de l'élément */
  font-size: 110%;
}

/* -------------- Partie gérant le coeur de la page --------------*/

  #presentation{
    
    position: relative; /*Positionnement de la partie centrale, essentielle pour éviter qu'une partie soit irrémédiablement caché par le bandeau supérieur*/
    z-index: 1;
    top: 28%;

    font-size: 36px;  /*Augmentation de la taille de la police*/

    padding: 5%;        /*On règle la taille de la box de l'élément*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;

    background-color: rgba(137, 192, 123, 0.671); /*Fond vert*/
  }


div li{
  margin-left: 15%;
  text-align: left;
  direction: ltr;
}

div.slice_gauche{   /*Ces propriétés s'appliquent sur les éléments du body dont je veux que le texte se trouve à gauche*/
  text-align: justify; /*le texte sera écrit à gauche de la box*/

  padding: 5%;  
  padding-right: 15%; /*Pour renforcer l'effet d'alternance entre gauche et droite je rajoute un padding sur le côté opposé au sens d'écriture*/
  margin-bottom: 1%;

  border: solid; /*On rajoute une bordure pleine*/

  transition: font-size 0.5s, color 0.5s;
}

div.slice_droite{ /*Ces propriétés s'appliquent sur les éléments du body dont je veux que le texte se trouve à droite*/
  direction: rtl;
  text-align: justify;  /*le texte sera écrit à droite de la box*/

  padding: 5%;
  padding-left: 15%;  /*Pour renforcer l'effet d'alternance entre gauche et droite je rajoute un padding sur le côté opposé au sens d'écriture*/
  margin-bottom: 1%;

  border: solid;

  transition: font-size 0.5s, color 0.5s;
}

div.slice_gauche:hover{ 
  color:rgb(0, 0, 0); /*On change la couleur des bordure, du texte de blanc vers noir*/
  font-size: 101%; /*On augmente légerement la taille du texte*/
}

div.slice_droite:hover{ /*même chose qu'au dessus*/
  color:rgb(0, 0, 0);
  font-size: 101%;
}

div.slice_droite:last-child{ /*La dernière slice*/
  text-align: justify;

  padding: 5%; 
  padding-left: 15%;
  margin-bottom: 0%; /*On veut que cette élément n'est pas de margin en bas, afin que le haut et le bas de la présentation est là même longueur de fond vert*/

  border: solid;
}

div.slice_gauche:last-child{ /*La dernière slice*/
  text-align: justify;

  padding: 5%; 
  padding-right: 15%;
  margin-bottom: 0%; /*On veut que cette élément n'est pas de margin en bas, afin que le haut et le bas de la présentation est là même longueur de fond vert*/

  border: solid;
}
  

/* -------------- Partie gérant le bas de la page --------------*/


footer{
  position: relative; /*On positionne le footer*/
  z-index: 2;
  top:30%;    /*Pour "compenser" la place prise par le bandeau supérieur*/
  bottom:0%;

  text-align: center;

  padding: 1%;    /*Une fois de plus on gère les dimensions de la box*/
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 0%;

  background-color: rgb(19, 18, 18);
}


ul.bas_de_page{
  width: 95%; /*Afin d'éviter un dépassement, on réduit la largeur de l'élément*/

  display: flex;  /*On créer une flexbox*/
  flex-wrap: wrap; /*Dont les dépassements de box seront gérés*/
  flex-direction: line; /*Notre flexbox sera dirigé horizontalement*/
  align-items: center; /*Les objets seront centrés verticalement*/
  justify-content: space-around; /*Les objets seront espacé de telle sorte que l'espace bord/1er élément correspond à 2*l'espacement entre 2 éléments */

}

li.objet_bas_de_page{
  list-style:none;
  display: inline;

  color: rgb(255, 255, 255);
  font-size: 25px;

  padding-right: 5%;
  padding-left: 5%;
}

.lien_footer{
  text-decoration: none;
  color: white;
  transition: font-size 0.5s;
}

.lien_footer:hover{
  font-size:105%
}

.cache{
  display: none;
}

li.objet_bas_de_page:hover  .cache{
  border: rgb(255, 255, 255);
  display: block;
}